.App {
  font-family: sans-serif;
}

.login_form {
  background-color: #153c56;
  border-radius: 85px;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  width: 500px;
}

.login_title_form {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.label {
  margin: left;
}

.input_container {
  gap: 8px;
  margin: 10px;
}

.input_box {
  padding: 8px 20px;
  margin: 8px 0;
  border: 2px solid white;
  border-radius: 20px;
  background-color: #9cc3eb;
  transition-duration: 0.5s;
}

.button_container {
  display: flex;
  justify-content: center;
}

.submit_button {
  padding: 5px 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 2px solid white;
  border-radius: 20px;
  color: #9cc3eb;
  background-color: white;
  transition-duration: 0.5s;
}

.input_box:hover {
  background-color: white;
  border: 2px solid #153c56;
}

.input_box:focus {
  background-color: white;
  border: 2px solid #153c56;
}

.submit_button:hover {
  background-color: #9cc3eb;
  color: white;
}
