@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");

.cv {
  width: 800px;
  min-height: 800px;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);
  background-color: white;
  font-size: 15px;
  position: relative;
  color: #252323;
}

.cv-content {
  display: flex;
}

.skills-projects {
  width: 50%;
  min-height: 800px;
}
.skills-projects-content {
  margin-left: 40px;
  margin-right: 20px;
  font-family: Roboto;
}

.personal-details {
  min-height: 800px;
  width: 50%;
}

.personal-details-content {
  margin-left: 20px;
  margin-right: 40px;
  font-family: Roboto;
}

.data-hr {
  margin-bottom: 5px;
  border: 1px solid #be53ad;
}

.personal-description {
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
}

.section-title {
  font-weight: 800;
  font-family: "Noto Sans";
  font-size: 22px;
  color: #000000;
  margin-bottom: 5px;
  margin-top: 30px;
}

.school {
  font-size: 15px;
}

.school-years {
  font-size: 10px;
  color: #807676;
}

.company {
  font-size: 15px;
}

.company-years {
  font-size: 10px;
  color: #807676;
}

.job-description {
  font-size: 12px;
  color: #1b1919;
}

.name-and-photo {
  text-align: center;
}

.name {
  font-family: "Noto Sans";
  font-size: 36px;
  font-weight: 700;
  color: #000000;
}

.profile-description {
  font-family: Roboto;
  font-size: 15px;
  color: #807676;
}

.display-none {
  display: none;
}

.contact-data {
  font-family: Roboto;
  color: #4e4a4a;
  font-size: 15px;
}

.icon {
  width: 1.1rem;
}

.descontent-ul {
  list-style: none;
}

.descontent-ul-li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.semi-circle {
  background: #be53ad;
  width: 300px;
  height: 150px;
  border-radius: 50% / 0 0 100% 100%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.image {
  width: 120px;
  border-radius: 50%;
  margin-top: 10px;
}
