@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap");

.article-div {
  min-width: 50%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  border: 4px solid #153c56;
  border-radius: 20px;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.article-author {
  font-size: 2vh;
  margin-bottom: 2%;
}

.article-title {
  font-size: 8vh;
  font-weight: bolder;
  font-family: "Roboto";
  color: #153c56;
  margin-bottom: 1%;
}

.article-text {
  font-size: 3vh;
  font-family: "Alkatra";
}

.article-date {
  font-size: 3vh;
  font-weight: bold;
  font-family: "Roboto";
  color: #909396;
}

.article-category {
  font-size: 4vh;
  font-family: "Roboto";
  text-align: right;
  font-weight: bolder;
  color: #909396;
}
