.advice-title {
  margin-top: 5%;
  font-size: 1vw;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

.advice-description {
  font-size: 0.8vw;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1%;
}

.advice-div {
  width: 18%;
  background-color: #1f4d70;
  margin-bottom: 4%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  height: 25vw;
  box-shadow: 0px 14px 31px 3px rgba(66, 68, 90, 1);
  cursor: pointer;
  transition: transform 0.2s;
}

.advice-div:hover{
  transform: scale(1.1);
}

.advice-date {
  margin-bottom: 5%;
  font-weight: bold;
  text-align: center;
  color: #909396;
  font-size: 0.8vw;
}

.advice-content {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.adviceimg {
  max-width: 100%;
  max-height: 100%;
}
