.advice-title {
  font-size: 20px;
  text-align: center;
}

.advice-description {
  font-size: 16px;
  text-align: center;
}

.advice-div {
  background-color: #3470a4;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.advice-content {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.adviceimg {
  max-width: 100%;
  max-height: 100%;
}
