.advice-title {
  font-size: calc(20px + 0.25vw);
  text-align: center;
  color: #ffffff;
}

.advice-description {
  font-size: calc(10px + 0.25vw);
  text-align: center;
  color: #ffffff;
}

.advice-div {
  background-color: #1f4d70;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.advice-content {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.adviceimg {
  max-width: 100%;
  max-height: 100%;
}
