.cv__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-navbar);

    padding: 0.7rem 2rem;
    box-shadow: 0px 0px 10px rgba(0,0, 0,0.8);
}

.cv__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cv__navbar-logo {
    margin-right: 2rem;
}

.cv__navbar-logo p{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 43.57px;
    color: #fff;
}

.cv__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.cv__navbar-links_container p,
.cv__navbar_menu_container-links p {
    color: #FFFFFF;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    
    margin: 0 1.8rem;
    cursor: pointer;
}

.cv__navbar-account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 1.8rem;
}

.cv__navbar-account button,
.cv__navbar_menu_container-account button{
    padding: 0.5rem 2rem;
    color: #fff;
    background: var(--color-button);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    border-radius: 90px;
    border: 0;
    outline: none;
    cursor: pointer;
}
.cv__navbar_menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.cv__navbar_menu svg {
    cursor: pointer;
}

.cv__navbar_menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-navbar);
    padding: 1rem 1rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0,0, 0,0.8);
}

.cv__navbar_menu_container p{
    margin: 1rem 0;
    padding: 0 1rem;
}

.cv__navbar_menu_container-account {
    display: none;
}

.cv__navbar_menu_container-account button {
    padding: 1rem;
}



@media screen and (max-width: 1000px) {
    .cv__navbar-links_container{
        display: none;
    }
    .cv__navbar_menu {
        display: flex;
    }
}

@media screen  and (max-width: 700px){
    .cv__navbar_menu_container-account {
        display: flex;
    }
    .cv__navbar-account {
        display: none;
    }   
}

@media screen  and (max-width: 500px){
    .cv__navbar-logo p{
        font-weight: 700;
        font-size: 26px;
        line-height: 38px;
    }
}