@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.header {
  text-align: center;
  font-family: "Roboto";
  font-size: 4vw;
  margin-top: 1%;
  text-shadow: 2px 2px 1px #141414;
  margin-bottom: 3%;
}

.paragraph-box {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-div {
  width: 10%;
}

.icon {
  width: 75%;
}

.des {
  font-family: "Roboto";
  width: 35%;
  font-size: 1.3vw;
}

.members {
  margin-top: 10px;
  padding-left: 55px;
  font-size: 1vw;
}

.member{
  margin-bottom: 5px;
}

.github-link {
  color: #807676;
  font-style: italic;
  font-size: 0.9vw;
}
