@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");
@import url("https://use.fontawesome.com/releases/v5.12.1/css/all.css");

:root {
  --font-family: "Inter";

  --color-bg: #c5dbf5;
  --color-navbar: #3f81bd;
  --color-footer: #0a2b3d;
  --color-input: #9cc3eb;
  --color-block-dark: #153c56;
  --color-button: #1f4d70;
}
