@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.cv {
  width: 800px;
  min-height: 1120px;
  align-self: flex-end;
  box-shadow: 0 0 0 0.4rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: white;
  font-size: 16px;
  padding: 20px;
}


.personal-details {
  /* min-height: 1120px;
  width: 40%;
  background-color: #f3f1ed; */
  display: flex;
justify-content: space-between;
}

.image-container {
  position: relative;
  width: 30%;
  height: 210px;
  display: flex;
  justify-content: center;
}

.image {
  width: 180px;
  border-radius: 3%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin-top: 10px;
  z-index: 2;
}

.background-image-div {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.descontent {
  width: 60%;
  margin-top: 0.4rem;
}

.descontent-ul {
  list-style: none;
  margin-top: 24px;
  width: 70%;
}

.descontent-ul-li {
  margin-left: 1rem;
  display: flex;
  /* align-items: center; */
  /* text-align: start; */
  margin-top: 8px;
  /* justify-content: space-between; */
}
.descontent-ul-li-left{
  width: 130px;
  display: flex;
}
.personal-data {
  display: inline-block;
  font-size: 14px;
  padding-left: 0.5rem;
}

.name {
  font-weight: 700;
  font-size: 30px;
  font-family: "Roboto";
}

.role {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  font-family: "Roboto";
}

.icon {
  width: 0.8rem;
  margin-right: 10px;
}

.personal-data {
  font-size: 16px;
}

.personal-data-container {
  margin-top: 35px;
}

.personal-data-title {
  font-weight: 500;
  font-family: "Roboto";
  font-size: 18px;
  margin-bottom: 2px;
}

.personal-data-hr {
  margin-bottom: 5px;
}

.personal-des {
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
}

.personal-data-container ul {
  list-style: none;
}

.personal-data-container ul li {
  margin-bottom: 20px;
}

.display-none {
  display: none;
}

/* Syntax to hide some element e.g. :
className={
 classes["some-class"] + " " + classes["display-none"]
} */

/* /////////////////////////////////////////////////////////////////////////// */
/* Right side */
.skills-projects {
  min-height: 1120px;
  font-family: "Roboto";
}

.skills-projects h2 {
  font-size: 20px;
  font-weight: 600;
  /* color: #4b4b4b; */
  margin-bottom: 20px;
}

.skills-projects hr {
  /* width: 50%; */
  margin-bottom: 5px;
}

.skills-projects ul {
  list-style: none;
  padding-left: 10px;
}

.skills-projects ul li:first-child {
  margin-top: 12px;
}

.skill-elem{
  display: flex;
  align-items: flex-start;
  text-align: start;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* FORM */
.form {
  width: 35%;
  background-color: white;
  margin-left: 4%;
  min-width: 600px;
  height: 640px;
  height: 640px;
  border-radius: 6px;
  /* background-color: #e2eaee; */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.form label {
  display: block;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 15px;
}

.form textarea,
input[type="text"],
input[type="date"]{
  font: inherit;
  width: 100%;
  position: relative;
  cursor: text;
  font-size: 14px;
  line-height: 20px;
  padding: 0 16px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #d6d6e7;
  border-radius: 3px;
  color: rgb(35, 38, 59);
  box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
  overflow: hidden;
  transition: all 100ms ease-in-out;
}

.form textarea:focus,
input:focus {
  border-color: #3c4fe0;
  box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
}

.form textarea {
  resize: none;
}

.tab-content-form-image{
  display: flex;
  align-items: center;
}

.custom-file-upload {
  background-color: #3c4fe0;
  color: white !important;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
}

.form button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #43a6dc;
  border: 1px solid #43a6dc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

/* //////////////////////// */
.tab-card {
  margin: 10px;
  display: flex;
  /* background-color: red; */
}

.tab-switcher {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  justify-content: space-around;
  height: 600px;
  margin-right: 20px;
  border-right: 1px solid black;
  padding: 5px;
  /* background-color: red; */
}

.tab-content {
  width: 100%;
}

.tab-p {
  /* background-color: yellow; */
  /* padding: 10px; */
}

.tab-content-forms {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* .tab-content-form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

} */

.tab-content-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}
.tab-content-form-33 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
  text-align: center;
}

.tab-content-form-100 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-content-form-100 {
  width: 99%;

}

.tab-content-form-language {
  margin-top: 30px;
}

.tab-content-form-language-add {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tab-content-form-language-add-input {
  width: 80%;
}

.border-bottom {
  border-bottom: 2px solid black;
}

.to-right {
  margin-top: 20px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 20px;
  width: 100%;
}


.card {
  margin-top: 20px;
}

.card-list-elem {
  margin-top: 15px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ecf1f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-list-elem:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.remove-button {
  background-color: rgb(187, 98, 98) !important;
}

.card-list-elem-pdf {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

.p-year {
  /* font-size: 12px;
  font-weight: 200; */
  margin-right: 5px;
}

.width30 {
  width: 30%;
  display: flex;

}

.width70 {
  width: 70%;
}

.ul-project {
  margin-top: 20px;
}



.display-none {
  display: none;
}

.is-active {
  display: flex;
  align-items: center;
  text-align: center;
}

label {
  text-align: start;
}

.icon-trash {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: red;
}

.icon-add {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: green;
  font-size: 28px;
}

.checkbox {
  font-size: 28px;
  color: green;
  width: 15px;
  height: 15px;
  accent-color: #3c9b1f;
  margin-top: 10px;
  margin-left: 10px;
}

.jobDescription {
  margin-top: 5px;
  color: #313030;
  font-size: 14px;
}

.schoolDescription{
  margin-top: 5px;
  color: #313030;
  font-size: 14px; 
}

.city{
  color: #313030;
  font-size: 16px;
  font-style: italic;
}